html
  body
    // begin::Footer
    .app-footer(id="kt_app_footer")
      // begin::Footer container
      .app-container.container-fluid.d-flex.flex-column.flex-md-row.flex-center.flex-md-stack.py-3
        // begin::Copyright
        .text-gray-900.order-2.order-md-1
          span.text-muted.fw-semibold.me-1 2023©
          a.text-gray-800.text-hover-primary(href="https://keenthemes.com", target="_blank") Keenthemes
        // end::Copyright
        // begin::Menu
        ul.menu.menu-gray-600.menu-hover-primary.fw-semibold.order-1
          li.menu-item
            a.menu-link.px-2(href="https://keenthemes.com", target="_blank") About
          li.menu-item
            a.menu-link.px-2(href="https://devs.keenthemes.com", target="_blank") Support
          li.menu-item
            a.menu-link.px-2(href="https://themes.getbootstrap.com/product/keen-the-ultimate-bootstrap-admin-theme/", target="_blank") Purchase
        // end::Menu
      // end::Footer container
    // end::Footer
