// begin::Modal - Users Search
.modal.fade(id="kt_modal_users_search", tabindex="-1", aria-hidden="true")
  // begin::Modal dialog
  .modal-dialog.modal-dialog-centered.mw-650px
    // begin::Modal content
    .modal-content
      // begin::Modal header
      .modal-header.pb-0.border-0.justify-content-end
        // begin::Close
        .btn.btn-sm.btn-icon.btn-active-color-primary(data-bs-dismiss="modal")
          i.ki-duotone.ki-cross.fs-1
            span.path1
            span.path2
        // end::Close
      // begin::Modal header
      // begin::Modal body
      .modal-body.scroll-y.mx-5.mx-xl-18.pt-0.pb-15
        // begin::Content
        .text-center.mb-13
          h1.mb-3 Search Users
          .text-muted.fw-semibold.fs-5 Invite Collaborators To Your Project
        // end::Content
        // begin::Search
        div(id="kt_modal_users_search_handler", data-kt-search-keypress="true", data-kt-search-min-length="2", data-kt-search-enter="enter", data-kt-search-layout="inline")
          // begin::Form
          form.w-100.position-relative.mb-5(data-kt-search-element="form", autocomplete="off")
            // begin::Hidden input(Added to disable form autocomplete)
            input(type="hidden")
            // end::Hidden input
            // begin::Icon
            i.ki-duotone.ki-magnifier.fs-2.fs-lg-1.text-gray-500.position-absolute.top-50.ms-5.translate-middle-y
              span.path1
              span.path2
            // end::Icon
            // begin::Input
            input.form-control.form-control-lg.form-control-solid.px-15(type="text", name="search", placeholder="Search by name or email...", data-kt-search-element="input")
            // end::Input
            // begin::Spinner
            span.position-absolute.top-50.end-0.translate-middle-y.lh-0.d-none.me-5(data-kt-search-element="spinner")
              span.spinner-border.h-15px.w-15px.align-middle.text-muted
            // end::Spinner
            // begin::Reset
            span.btn.btn-flush.btn-active-color-primary.position-absolute.top-50.end-0.translate-middle-y.lh-0.me-5.d-none(data-kt-search-element="clear")
              i.ki-duotone.ki-cross.fs-2.fs-lg-1.me-0
                span.path1
                span.path2
            // end::Reset
          // end::Form
          // begin::Wrapper
          .py-5
            // begin::Suggestions
            div(data-kt-search-element="suggestions")
              // begin::Heading
              h3.fw-semibold.mb-5 Current Members:
              // end::Heading
              // begin::Users
              .mh-375px.scroll-y.me-n7.pe-7
                each member in project.members
                  // begin::User
                  a.d-flex.align-items-center.p-3.rounded.bg-state-light.bg-state-opacity-50.mb-1(href="#")
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle.me-5
                      img(alt="Pic", src=`assets/media/avatars/${member.account.photo}`)
                    // end::Avatar
                    // begin::Info
                    .fw-semibold
                      span.fs-6.text-gray-800.me-2 #{member.account.name}
                      span.badge.badge-light #{member.account.role}
                    // end::Info
                  // end::User
              // end::Users
            // end::Suggestions
            // begin::Results(add d-none to below element to hide the users list by default)
            .d-none(data-kt-search-element="results")
              // begin::Users searched
              .mh-375px.scroll-y.me-n7.pe-7(id="search_results")
                // begin::User
                .rounded.d-flex.flex-stack.bg-active-lighten.p-4(data-user-id="16")
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Checkbox
                    label.form-check.form-check-custom.form-check-solid.me-5
                      input.form-check-input(type="checkbox", name="users", data-kt-check="true", data-kt-check-target="[data-user-id='16']", value="16")
                    // end::Checkbox
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      img(alt="Pic", src="assets/media/avatars/300-9.jpg")
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Francis Mitcham
                      .fw-semibold.text-muted f.mit@kpmg.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-hide-search="true")
                      option(value="1") Guest
                      option(value="2") Owner
                      option(value="3", selected="selected") Can Edit
                  // end::Access menu
                // end::User
              // end::Users searched
              // begin::Selected users
              .mh-375px.scroll-y.me-n7.pe-7(id="selected_users")
              //end::Selected users
              // begin::Actions
              .d-flex.flex-center.mt-15
                button.btn.btn-active-light.me-3(type="reset", id="kt_modal_users_search_reset", data-bs-dismiss="modal") Cancel
                button.btn.btn-primary(type="submit", id="kt_modal_users_search_submit") Add Selected Users
              // end::Actions
            // end::Results
            // begin::Empty
            .text-center.d-none(data-kt-search-element="empty")
              // begin::Message
              .fw-semibold.py-10
                .text-gray-600.fs-3.mb-2 No users found
                .text-muted.fs-6 Try to search by username, full name or email...
              // end::Message
              // begin::Illustration
              .text-center.px-5
                img.w-100.h-200px.h-sm-325px(src="assets/media/illustrations/sketchy-1/1.png")
              // end::Illustration
            // end::Empty
          // end::Wrapper
        // end::Search
      // end::Modal body
    // end::Modal content
  // end::Modal dialog
// end::Modal - Users Search