html
  body
    // begin::Modals
    // begin::Modal - Upgrade plan
    .modal.fade(id="kt_modal_upgrade_plan", tabindex="-1", aria-hidden="true")
      // begin::Modal dialog
      .modal-dialog.modal-xl
        // begin::Modal content
        .modal-content.rounded
          // begin::Modal header
          .modal-header.justify-content-end.border-0.pb-0
            // begin::Close
            .btn.btn-sm.btn-icon.btn-active-color-primary(data-bs-dismiss="modal")
              i.ki-duotone.ki-cross.fs-1
                span.path1
                span.path2
            // end::Close
          // end::Modal header
          // begin::Modal body
          .modal-body.pt-0.pb-15.px-5.px-xl-20
            // begin::Heading
            .mb-13.text-center
              h1.mb-3 Upgrade a Plan
              .text-muted.fw-semibold.fs-5
                | If you need more info, please check
                a.link-primary.fw-bold(href="#") Pricing Guidelines
                | .
            // end::Heading
            // begin::Plans
            .d-flex.flex-column
              // begin::Nav group
              .nav-group.nav-group-outline.mx-auto(data-kt-buttons="true")
                button.btn.btn-color-gray-500.btn-active.btn-active-secondary.px-6.py-3.me-2.active(data-kt-plan="month") Monthly
                button.btn.btn-color-gray-500.btn-active.btn-active-secondary.px-6.py-3(data-kt-plan="annual") Annual
              // end::Nav group
              // begin::Row
              .row.mt-10
                // begin::Col
                .col-lg-6.mb-10.mb-lg-0
                  // begin::Tabs
                  .nav.flex-column
                    // begin::Tab link
                    label.nav-link.btn.btn-outline.btn-outline-dashed.btn-color-dark.btn-active.btn-active-primary.d-flex.flex-stack.text-start.p-6.active.mb-6(data-bs-toggle="tab", data-bs-target="#kt_upgrade_plan_startup")
                      // end::Description
                      .d-flex.align-items-center.me-2
                        // begin::Radio
                        .form-check.form-check-custom.form-check-solid.form-check-success.flex-shrink-0.me-6
                          input.form-check-input(type="radio", name="plan", checked="checked", value="startup")
                        // end::Radio
                        // begin::Info
                        .flex-grow-1
                          .d-flex.align-items-center.fs-2.fw-bold.flex-wrap Startup
                          .fw-semibold.opacity-75 Best for startups
                        // end::Info
                      // end::Description
                      // begin::Price
                      .ms-5
                        span.mb-2 $
                        span.fs-3x.fw-bold(data-kt-plan-price-month="39", data-kt-plan-price-annual="399") 39
                        span.fs-7.opacity-50
                          | /
                          span(data-kt-element="period") Mon
                      // end::Price
                    // end::Tab link
                    // begin::Tab link
                    label.nav-link.btn.btn-outline.btn-outline-dashed.btn-color-dark.btn-active.btn-active-primary.d-flex.flex-stack.text-start.p-6.mb-6(data-bs-toggle="tab", data-bs-target="#kt_upgrade_plan_advanced")
                      // end::Description
                      .d-flex.align-items-center.me-2
                        // begin::Radio
                        .form-check.form-check-custom.form-check-solid.form-check-success.flex-shrink-0.me-6
                          input.form-check-input(type="radio", name="plan", value="advanced")
                        // end::Radio
                        // begin::Info
                        .flex-grow-1
                          .d-flex.align-items-center.fs-2.fw-bold.flex-wrap Advanced
                          .fw-semibold.opacity-75 Best for 100+ team size
                        // end::Info
                      // end::Description
                      // begin::Price
                      .ms-5
                        span.mb-2 $
                        span.fs-3x.fw-bold(data-kt-plan-price-month="339", data-kt-plan-price-annual="3399") 339
                        span.fs-7.opacity-50
                          | /
                          span(data-kt-element="period") Mon
                      // end::Price
                    // end::Tab link
                    // begin::Tab link
                    label.nav-link.btn.btn-outline.btn-outline-dashed.btn-color-dark.btn-active.btn-active-primary.d-flex.flex-stack.text-start.p-6.mb-6(data-bs-toggle="tab", data-bs-target="#kt_upgrade_plan_enterprise")
                      // end::Description
                      .d-flex.align-items-center.me-2
                        // begin::Radio
                        .form-check.form-check-custom.form-check-solid.form-check-success.flex-shrink-0.me-6
                          input.form-check-input(type="radio", name="plan", value="enterprise")
                        // end::Radio
                        // begin::Info
                        .flex-grow-1
                          .d-flex.align-items-center.fs-2.fw-bold.flex-wrap
                            | Enterprise
                            span.badge.badge-light-success.ms-2.py-2.px-3.fs-7 Popular
                          .fw-semibold.opacity-75 Best value for 1000+ team
                        // end::Info
                      // end::Description
                      // begin::Price
                      .ms-5
                        span.mb-2 $
                        span.fs-3x.fw-bold(data-kt-plan-price-month="999", data-kt-plan-price-annual="9999") 999
                        span.fs-7.opacity-50
                          | /
                          span(data-kt-element="period") Mon
                      // end::Price
                    // end::Tab link
                    // begin::Tab link
                    label.nav-link.btn.btn-outline.btn-outline-dashed.btn-color-dark.btn-active.btn-active-primary.d-flex.flex-stack.text-start.p-6.mb-6(data-bs-toggle="tab", data-bs-target="#kt_upgrade_plan_custom")
                      // end::Description
                      .d-flex.align-items-center.me-2
                        // begin::Radio
                        .form-check.form-check-custom.form-check-solid.form-check-success.flex-shrink-0.me-6
                          input.form-check-input(type="radio", name="plan", value="custom")
                        // end::Radio
                        // begin::Info
                        .flex-grow-1
                          .d-flex.align-items-center.fs-2.fw-bold.flex-wrap Custom
                          .fw-semibold.opacity-75 Requet a custom license
                        // end::Info
                      // end::Description
                      // begin::Price
                      .ms-5
                        a.btn.btn-sm.btn-success(href="#") Contact Us
                      // end::Price
                    // end::Tab link
                  // end::Tabs
                // end::Col
                // begin::Col
                .col-lg-6
                  // begin::Tab content
                  .tab-content.rounded.h-100.bg-light.p-10
                    // begin::Tab Pane
                    .tab-pane.fade.show.active(id="kt_upgrade_plan_startup")
                      // begin::Heading
                      .pb-5
                        h2.fw-bold.text-gray-900 What’s in Startup Plan?
                        .text-muted.fw-semibold Optimal for 10+ team size and new startup
                      // end::Heading
                      // begin::Body
                      .pt-1
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Up to 10 Active Users
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Up to 30 Project Integrations
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Analytics Module
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-muted.flex-grow-1 Finance Module
                          i.ki-duotone.ki-cross-circle.fs-1
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-muted.flex-grow-1 Accounting Module
                          i.ki-duotone.ki-cross-circle.fs-1
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-muted.flex-grow-1 Network Platform
                          i.ki-duotone.ki-cross-circle.fs-1
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center
                          span.fw-semibold.fs-5.text-muted.flex-grow-1 Unlimited Cloud Space
                          i.ki-duotone.ki-cross-circle.fs-1
                            span.path1
                            span.path2
                        // end::Item
                      // end::Body
                    // end::Tab Pane
                    // begin::Tab Pane
                    .tab-pane.fade(id="kt_upgrade_plan_advanced")
                      // begin::Heading
                      .pb-5
                        h2.fw-bold.text-gray-900 What’s in Startup Plan?
                        .text-muted.fw-semibold Optimal for 100+ team size and grown company
                      // end::Heading
                      // begin::Body
                      .pt-1
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Up to 10 Active Users
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Up to 30 Project Integrations
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Analytics Module
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Finance Module
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Accounting Module
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-muted.flex-grow-1 Network Platform
                          i.ki-duotone.ki-cross-circle.fs-1
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center
                          span.fw-semibold.fs-5.text-muted.flex-grow-1 Unlimited Cloud Space
                          i.ki-duotone.ki-cross-circle.fs-1
                            span.path1
                            span.path2
                        // end::Item
                      // end::Body
                    // end::Tab Pane
                    // begin::Tab Pane
                    .tab-pane.fade(id="kt_upgrade_plan_enterprise")
                      // begin::Heading
                      .pb-5
                        h2.fw-bold.text-gray-900 What’s in Startup Plan?
                        .text-muted.fw-semibold Optimal for 1000+ team and enterpise
                      // end::Heading
                      // begin::Body
                      .pt-1
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Up to 10 Active Users
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Up to 30 Project Integrations
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Analytics Module
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Finance Module
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Accounting Module
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Network Platform
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Unlimited Cloud Space
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                      // end::Body
                    // end::Tab Pane
                    // begin::Tab Pane
                    .tab-pane.fade(id="kt_upgrade_plan_custom")
                      // begin::Heading
                      .pb-5
                        h2.fw-bold.text-gray-900 What’s in Startup Plan?
                        .text-muted.fw-semibold Optimal for corporations
                      // end::Heading
                      // begin::Body
                      .pt-1
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Unlimited Users
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Unlimited Project Integrations
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Analytics Module
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Finance Module
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Accounting Module
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center.mb-7
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Network Platform
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                        // begin::Item
                        .d-flex.align-items-center
                          span.fw-semibold.fs-5.text-gray-700.flex-grow-1 Unlimited Cloud Space
                          i.ki-duotone.ki-check-circle.fs-1.text-success
                            span.path1
                            span.path2
                        // end::Item
                      // end::Body
                    // end::Tab Pane
                  // end::Tab content
                // end::Col
              // end::Row
            // end::Plans
            // begin::Actions
            .d-flex.flex-center.flex-row-fluid.pt-12
              button.btn.btn-light.me-3(type="reset", data-bs-dismiss="modal") Cancel
              button.btn.btn-primary(type="submit", id="kt_modal_upgrade_plan_btn")
                // begin::Indicator label
                span.indicator-label Upgrade Plan
                // end::Indicator label
                // begin::Indicator progress
                span.indicator-progress
                  | Please wait...
                  span.spinner-border.spinner-border-sm.align-middle.ms-2
                // end::Indicator progress
            // end::Actions
          // end::Modal body
        // end::Modal content
      // end::Modal dialog
    // end::Modal - Upgrade plan
    // begin::Modal - New Target
    include _modalTicket
    // end::Modal - New Target
    // begin::Modal - Create Campaign
    .modal.fade(id="kt_modal_create_campaign", tabindex="-1", aria-hidden="true")
      // begin::Modal dialog
      .modal-dialog.modal-fullscreen.p-9
        // begin::Modal content
        .modal-content.modal-rounded
          // begin::Modal header
          .modal-header.py-7.d-flex.justify-content-between
            // begin::Modal title
            h2 Create Campaign
            // end::Modal title
            // begin::Close
            .btn.btn-sm.btn-icon.btn-active-color-primary(data-bs-dismiss="modal")
              i.ki-duotone.ki-cross.fs-1
                span.path1
                span.path2
            // end::Close
          // begin::Modal header
          // begin::Modal body
          .modal-body.scroll-y.m-5
            // begin::Stepper
            .stepper.stepper-links.d-flex.flex-column(id="kt_modal_create_campaign_stepper")
              // begin::Nav
              .stepper-nav.justify-content-center.py-2
                // begin::Step 1
                .stepper-item.me-5.me-md-15.current(data-kt-stepper-element="nav")
                  h3.stepper-title Campaign Details
                // end::Step 1
                // begin::Step 2
                .stepper-item.me-5.me-md-15(data-kt-stepper-element="nav")
                  h3.stepper-title Creative Uploads
                // end::Step 2
                // begin::Step 3
                .stepper-item.me-5.me-md-15(data-kt-stepper-element="nav")
                  h3.stepper-title Audiences
                // end::Step 3
                // begin::Step 4
                .stepper-item.me-5.me-md-15(data-kt-stepper-element="nav")
                  h3.stepper-title Budget Estimates
                // end::Step 4
                // begin::Step 5
                .stepper-item(data-kt-stepper-element="nav")
                  h3.stepper-title Completed
                // end::Step 5
              // end::Nav
              // begin::Form
              form.mx-auto.w-100.mw-600px.pt-15.pb-10(novalidate="novalidate", id="kt_modal_create_campaign_stepper_form")
                // begin::Step 1
                .current(data-kt-stepper-element="content")
                  // begin::Wrapper
                  .w-100
                    // begin::Heading
                    .pb-10.pb-lg-15
                      // begin::Title
                      h2.fw-bold.d-flex.align-items-center.text-gray-900
                        | Setup Campaign Details
                        span.ms-1(data-bs-toggle="tooltip", title="Campaign name will be used as reference within your campaign reports")
                          i.ki-duotone.ki-information-5.text-gray-500.fs-6
                            span.path1
                            span.path2
                            span.path3
                      // end::Title
                      // begin::Notice
                      .text-muted.fw-semibold.fs-6
                        | If you need more info, please check out
                        a.link-primary.fw-bold(href="#") Help Page
                        | .
                      // end::Notice
                    // end::Heading
                    // begin::Input group
                    .mb-10.fv-row
                      // begin::Label
                      label.required.form-label.mb-3 Campaign Name
                      // end::Label
                      // begin::Input
                      input.form-control.form-control-lg.form-control-solid(type="text", name="campaign_name")
                      // end::Input
                    // end::Input group
                    // begin::Input group
                    .fv-row.mb-10
                      // begin::Label
                      label.d-block.fw-semibold.fs-6.mb-5
                        span.required Company Logo
                        span.ms-1(data-bs-toggle="tooltip", title="E.g. Select a logo to represent the company that's running the campaign.")
                          i.ki-duotone.ki-information-5.text-gray-500.fs-6
                            span.path1
                            span.path2
                            span.path3
                      // end::Label
                      // begin::Image input placeholder
                      style.
                        .image-input-placeholder { background-image: url('assets/media/svg/files/blank-image.svg'); } [data-bs-theme="dark"] .image-input-placeholder { background-image: url('assets/media/svg/files/blank-image-dark.svg'); }
                      // end::Image input placeholder
                      // begin::Image input
                      .image-input.image-input-empty.image-input-outline.image-input-placeholder(data-kt-image-input="true")
                        // begin::Preview existing avatar
                        .image-input-wrapper.w-125px.h-125px
                        // end::Preview existing avatar
                        // begin::Label
                        label.btn.btn-icon.btn-circle.btn-active-color-primary.w-25px.h-25px.bg-body.shadow(data-kt-image-input-action="change", data-bs-toggle="tooltip", title="Change avatar")
                          i.ki-duotone.ki-pencil.fs-7
                            span.path1
                            span.path2
                          // begin::Inputs
                          input(type="file", name="avatar", accept=".png, .jpg, .jpeg")
                          input(type="hidden", name="avatar_remove")
                          // end::Inputs
                        // end::Label
                        // begin::Cancel
                        span.btn.btn-icon.btn-circle.btn-active-color-primary.w-25px.h-25px.bg-body.shadow(data-kt-image-input-action="cancel", data-bs-toggle="tooltip", title="Cancel avatar")
                          i.ki-duotone.ki-cross.fs-2
                            span.path1
                            span.path2
                        // end::Cancel
                        // begin::Remove
                        span.btn.btn-icon.btn-circle.btn-active-color-primary.w-25px.h-25px.bg-body.shadow(data-kt-image-input-action="remove", data-bs-toggle="tooltip", title="Remove avatar")
                          i.ki-duotone.ki-cross.fs-2
                            span.path1
                            span.path2
                        // end::Remove
                      // end::Image input
                      // begin::Hint
                      .form-text Allowed file types: png, jpg, jpeg.
                      // end::Hint
                    // end::Input group
                    // begin::Input group
                    .mb-10
                      // begin::Label
                      label.required.fw-semibold.fs-6.mb-5 Campaign Goal
                      // end::Label
                      // begin::Roles
                      // begin::Input row
                      .d-flex.fv-row
                        // begin::Radio
                        .form-check.form-check-custom.form-check-solid
                          // begin::Input
                          input.form-check-input.me-3(name="user_role", type="radio", value="0", id="kt_modal_update_role_option_0", checked="checked")
                          // end::Input
                          // begin::Label
                          label.form-check-label(for="kt_modal_update_role_option_0")
                            .fw-bold.text-gray-800 Get more visitors
                            .text-gray-600 Increase impression traffic onto the platform
                          // end::Label
                        // end::Radio
                      // end::Input row
                      .separator.separator-dashed.my-5
                      // begin::Input row
                      .d-flex.fv-row
                        // begin::Radio
                        .form-check.form-check-custom.form-check-solid
                          // begin::Input
                          input.form-check-input.me-3(name="user_role", type="radio", value="1", id="kt_modal_update_role_option_1")
                          // end::Input
                          // begin::Label
                          label.form-check-label(for="kt_modal_update_role_option_1")
                            .fw-bold.text-gray-800 Get more messages on chat
                            .text-gray-600 Increase community interaction and communication
                          // end::Label
                        // end::Radio
                      // end::Input row
                      .separator.separator-dashed.my-5
                      // begin::Input row
                      .d-flex.fv-row
                        // begin::Radio
                        .form-check.form-check-custom.form-check-solid
                          // begin::Input
                          input.form-check-input.me-3(name="user_role", type="radio", value="2", id="kt_modal_update_role_option_2")
                          // end::Input
                          // begin::Label
                          label.form-check-label(for="kt_modal_update_role_option_2")
                            .fw-bold.text-gray-800 Get more calls
                            .text-gray-600 Boost telecommunication feedback to provide precise and accurate information
                          // end::Label
                        // end::Radio
                      // end::Input row
                      .separator.separator-dashed.my-5
                      // begin::Input row
                      .d-flex.fv-row
                        // begin::Radio
                        .form-check.form-check-custom.form-check-solid
                          // begin::Input
                          input.form-check-input.me-3(name="user_role", type="radio", value="3", id="kt_modal_update_role_option_3")
                          // end::Input
                          // begin::Label
                          label.form-check-label(for="kt_modal_update_role_option_3")
                            .fw-bold.text-gray-800 Get more likes
                            .text-gray-600 Increase positive interactivity on social media platforms
                          // end::Label
                        // end::Radio
                      // end::Input row
                      .separator.separator-dashed.my-5
                      // begin::Input row
                      .d-flex.fv-row
                        // begin::Radio
                        .form-check.form-check-custom.form-check-solid
                          // begin::Input
                          input.form-check-input.me-3(name="user_role", type="radio", value="4", id="kt_modal_update_role_option_4")
                          // end::Input
                          // begin::Label
                          label.form-check-label(for="kt_modal_update_role_option_4")
                            .fw-bold.text-gray-800 Lead generation
                            .text-gray-600 Collect contact information for potential customers
                          // end::Label
                        // end::Radio
                      // end::Input row
                      // end::Roles
                    // end::Input group
                  // end::Wrapper
                // end::Step 1
                // begin::Step 2
                div(data-kt-stepper-element="content")
                  // begin::Wrapper
                  .w-100
                    // begin::Heading
                    .pb-10.pb-lg-12
                      // begin::Title
                      h1.fw-bold.text-gray-900 Upload Files
                      // end::Title
                      // begin::Description
                      .text-muted.fw-semibold.fs-4
                        | If you need more info, please check
                        a.link-primary(href="#") Campaign Guidelines
                      // end::Description
                    // end::Heading
                    // begin::Input group
                    .fv-row.mb-10
                      // begin::Dropzone
                      .dropzone(id="kt_modal_create_campaign_files_upload")
                        // begin::Message
                        .dz-message.needsclick
                          // begin::Icon
                          i.ki-duotone.ki-file-up.fs-3hx.text-primary
                            span.path1
                            span.path2
                          // end::Icon
                          // begin::Info
                          .ms-4
                            h3.dfs-3.fw-bold.text-gray-900.mb-1 Drop campaign files here or click to upload.
                            span.fw-semibold.fs-4.text-muted Upload up to 10 files
                          // end::Info
                      // end::Dropzone
                    // end::Input group
                    // begin::Input group
                    .mb-10
                      // begin::Label
                      label.fs-6.fw-semibold.mb-2 Uploaded File
                      // End::Label
                      // begin::Files
                      .mh-300px.scroll-y.me-n7.pe-7
                        // begin::File
                        .d-flex.flex-stack.py-4.border.border-top-0.border-left-0.border-right-0.border-dashed
                          .d-flex.align-items-center
                            // begin::Avatar
                            .symbol.symbol-35px
                              img(src="assets/media/svg/files/pdf.svg", alt="icon")
                            // end::Avatar
                            // begin::Details
                            .ms-6
                              a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Product Specifications
                              .fw-semibold.text-muted 230kb
                            // end::Details
                          // begin::Menu
                          .min-w-100px
                            select.form-select.form-select-solid.form-select-sm(data-control="select2", data-hide-search="true", data-placeholder="Edit")
                              option
                              option(value="1") Remove
                              option(value="2") Modify
                              option(value="3") Select
                          // end::Menu
                        // end::File
                        // begin::File
                        .d-flex.flex-stack.py-4.border.border-top-0.border-left-0.border-right-0.border-dashed
                          .d-flex.align-items-center
                            // begin::Avatar
                            .symbol.symbol-35px
                              img(src="assets/media/svg/files/tif.svg", alt="icon")
                            // end::Avatar
                            // begin::Details
                            .ms-6
                              a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Campaign Creative Poster
                              .fw-semibold.text-muted 2.4mb
                            // end::Details
                          // begin::Menu
                          .min-w-100px
                            select.form-select.form-select-solid.form-select-sm(data-control="select2", data-hide-search="true", data-placeholder="Edit")
                              option
                              option(value="1") Remove
                              option(value="2") Modify
                              option(value="3") Select
                          // end::Menu
                        // end::File
                        // begin::File
                        .d-flex.flex-stack.py-4.border.border-top-0.border-left-0.border-right-0.border-dashed
                          .d-flex.align-items-center
                            // begin::Avatar
                            .symbol.symbol-35px
                              img(src="assets/media/svg/files/folder-document.svg", alt="icon")
                            // end::Avatar
                            // begin::Details
                            .ms-6
                              a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Campaign Landing Page Source
                              .fw-semibold.text-muted 1.12mb
                            // end::Details
                          // begin::Menu
                          .min-w-100px
                            select.form-select.form-select-solid.form-select-sm(data-control="select2", data-hide-search="true", data-placeholder="Edit")
                              option
                              option(value="1") Remove
                              option(value="2") Modify
                              option(value="3") Select
                          // end::Menu
                        // end::File
                        // begin::File
                        .d-flex.flex-stack.py-4.border.border-top-0.border-left-0.border-right-0.border-dashed
                          .d-flex.align-items-center
                            // begin::Avatar
                            .symbol.symbol-35px
                              img(src="assets/media/svg/files/css.svg", alt="icon")
                            // end::Avatar
                            // begin::Details
                            .ms-6
                              a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Landing Page Styling
                              .fw-semibold.text-muted 85kb
                            // end::Details
                          // begin::Menu
                          .min-w-100px
                            select.form-select.form-select-solid.form-select-sm(data-control="select2", data-hide-search="true", data-placeholder="Edit")
                              option
                              option(value="1") Remove
                              option(value="2") Modify
                              option(value="3") Select
                          // end::Menu
                        // end::File
                        // begin::File
                        .d-flex.flex-stack.py-4.border.border-top-0.border-left-0.border-right-0.border-dashed
                          .d-flex.align-items-center
                            // begin::Avatar
                            .symbol.symbol-35px
                              img(src="assets/media/svg/files/ai.svg", alt="icon")
                            // end::Avatar
                            // begin::Details
                            .ms-6
                              a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Design Source Files
                              .fw-semibold.text-muted 48mb
                            // end::Details
                          // begin::Menu
                          .min-w-100px
                            select.form-select.form-select-solid.form-select-sm(data-control="select2", data-hide-search="true", data-placeholder="Edit")
                              option
                              option(value="1") Remove
                              option(value="2") Modify
                              option(value="3") Select
                          // end::Menu
                        // end::File
                        // begin::File
                        .d-flex.flex-stack.py-4
                          .d-flex.align-items-center
                            // begin::Avatar
                            .symbol.symbol-35px
                              img(src="assets/media/svg/files/doc.svg", alt="icon")
                            // end::Avatar
                            // begin::Details
                            .ms-6
                              a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Campaign Plan Document
                              .fw-semibold.text-muted 27kb
                            // end::Details
                          // begin::Menu
                          .min-w-100px
                            select.form-select.form-select-solid.form-select-sm(data-control="select2", data-hide-search="true", data-placeholder="Edit")
                              option
                              option(value="1") Remove
                              option(value="2") Modify
                              option(value="3") Select
                          // end::Menu
                        // end::File
                      // end::Files
                    // end::Input group
                  // end::Wrapper
                // end::Step 2
                // begin::Step 3
                div(data-kt-stepper-element="content")
                  // begin::Wrapper
                  .w-100
                    // begin::Heading
                    .pb-10.pb-lg-12
                      // begin::Title
                      h1.fw-bold.text-gray-900 Configure Audiences
                      // end::Title
                      // begin::Description
                      .text-muted.fw-semibold.fs-4
                        | If you need more info, please check
                        a.link-primary(href="#") Campaign Guidelines
                      // end::Description
                    // end::Heading
                    // begin::Input group
                    .fv-row.mb-10
                      // begin::Label
                      label.fs-6.fw-semibold.mb-2
                        | Gender
                        span.ms-1(data-bs-toggle="tooltip", title="Show your ads to either men or women, or select 'All' for both")
                          i.ki-duotone.ki-information-5.text-gray-500.fs-6
                            span.path1
                            span.path2
                            span.path3
                      // End::Label
                      // begin::Row
                      .row.g-9(data-kt-buttons="true", data-kt-buttons-target="[data-kt-button='true']")
                        // begin::Col
                        .col
                          // begin::Option
                          label.btn.btn-outline.btn-outline-dashed.btn-active-light-primary.active.d-flex.text-start.p-6(data-kt-button="true")
                            // begin::Radio
                            span.form-check.form-check-custom.form-check-solid.form-check-sm.align-items-start.mt-1
                              input.form-check-input(type="radio", name="campaign_gender", value="1", checked="checked")
                            // end::Radio
                            // begin::Info
                            span.ms-5
                              span.fs-4.fw-bold.text-gray-800.d-block All
                            // end::Info
                          // end::Option
                        // end::Col
                        // begin::Col
                        .col
                          // begin::Option
                          label.btn.btn-outline.btn-outline-dashed.btn-active-light-primary.d-flex.text-start.p-6(data-kt-button="true")
                            // begin::Radio
                            span.form-check.form-check-custom.form-check-solid.form-check-sm.align-items-start.mt-1
                              input.form-check-input(type="radio", name="campaign_gender", value="2")
                            // end::Radio
                            // begin::Info
                            span.ms-5
                              span.fs-4.fw-bold.text-gray-800.d-block Male
                            // end::Info
                          // end::Option
                        // end::Col
                        // begin::Col
                        .col
                          // begin::Option
                          label.btn.btn-outline.btn-outline-dashed.btn-active-light-primary.d-flex.text-start.p-6(data-kt-button="true")
                            // begin::Radio
                            span.form-check.form-check-custom.form-check-solid.form-check-sm.align-items-start.mt-1
                              input.form-check-input(type="radio", name="campaign_gender", value="3")
                            // end::Radio
                            // begin::Info
                            span.ms-5
                              span.fs-4.fw-bold.text-gray-800.d-block Female
                            // end::Info
                          // end::Option
                        // end::Col
                      // end::Row
                    // end::Input group
                    // begin::Input group
                    .fv-row.mb-10
                      // begin::Label
                      label.fs-6.fw-semibold.mb-2
                        | Age
                        span.ms-1(data-bs-toggle="tooltip", title="Select the minimum and maximum age of the people who will find your ad relevant.")
                          i.ki-duotone.ki-information-5.text-gray-500.fs-6
                            span.path1
                            span.path2
                            span.path3
                      // End::Label
                      // begin::Slider
                      .d-flex.flex-stack
                        .fs-7.fw-semibold.text-muted(id="kt_modal_create_campaign_age_min")
                        .noUi-sm.w-100.ms-5.me-8(id="kt_modal_create_campaign_age_slider")
                        .fs-7.fw-semibold.text-muted(id="kt_modal_create_campaign_age_max")
                      // end::Slider
                    // end::Input group
                    // begin::Input group
                    .fv-row.mb-10
                      // begin::Label
                      label.fs-6.fw-semibold.mb-2
                        | Location
                        span.ms-1(data-bs-toggle="tooltip", title="Enter one or more location points for more specific targeting.")
                          i.ki-duotone.ki-information-5.text-gray-500.fs-6
                            span.path1
                            span.path2
                            span.path3
                      // End::Label
                      // begin::Tagify
                      input.form-control.d-flex.align-items-center(id="kt_modal_create_campaign_location", data-kt-flags-path="assets/media/flags/")
                      // end::Tagify
                    // end::Input group
                  // end::Wrapper
                // end::Step 3
                // begin::Step 4
                div(data-kt-stepper-element="content")
                  // begin::Wrapper
                  .w-100
                    // begin::Heading
                    .pb-10.pb-lg-12
                      // begin::Title
                      h1.fw-bold.text-gray-900 Budget Estimates
                      // end::Title
                      // begin::Description
                      .text-muted.fw-semibold.fs-4
                        | If you need more info, please check
                        a.link-primary(href="#") Campaign Guidelines
                      // end::Description
                    // end::Heading
                    // begin::Input group
                    .fv-row.mb-10
                      // begin::Label
                      label.fs-6.fw-semibold.mb-2
                        | Campaign Duration
                        span.ms-1(data-bs-toggle="tooltip", title="Choose how long you want your ad to run for")
                          i.ki-duotone.ki-information-5.text-gray-500.fs-6
                            span.path1
                            span.path2
                            span.path3
                      // end::Label
                      // begin::Duration option
                      .d-flex.gap-9.mb-7
                        // begin::Button
                        button.btn.btn-outline.btn-outline-dashed.btn-active-light-primary.active(type="button", id="kt_modal_create_campaign_duration_all")
                          | Continuous duration
                          br
                          span.fs-7 Your ad will run continuously for a daily budget.
                        // end::Button
                        // begin::Button
                        button.btn.btn-outline.btn-outline-dashed.btn-active-light-primary.btn-outline-default(type="button", id="kt_modal_create_campaign_duration_fixed")
                          | Fixed duration
                          br
                          span.fs-7 Your ad will run on the specified dates only.
                        // end::Button
                      // end::Duration option
                      // begin::Datepicker
                      input.form-control.form-control-solid.d-none(placeholder="Pick date & time", id="kt_modal_create_campaign_datepicker")
                      // end::Datepicker
                    // end::Input group
                    // begin::Input group
                    .fv-row.mb-10
                      // begin::Label
                      label.fs-6.fw-semibold.mb-2
                        | Daily Budget
                        span.ms-1(data-bs-toggle="tooltip", title="Choose the budget allocated for each day. Higher budget will generate better results")
                          i.ki-duotone.ki-information-5.text-gray-500.fs-6
                            span.path1
                            span.path2
                            span.path3
                      // end::Label
                      // begin::Slider
                      .d-flex.flex-column.text-center
                        .d-flex.align-items-start.justify-content-center.mb-7
                          span.fw-bold.fs-4.mt-1.me-2 $
                          span.fw-bold.fs-3x(id="kt_modal_create_campaign_budget_label")
                          span.fw-bold.fs-3x .00
                        .noUi-sm(id="kt_modal_create_campaign_budget_slider")
                      // end::Slider
                    // end::Input group
                  // end::Wrapper
                // end::Step 4
                // begin::Step 5
                div(data-kt-stepper-element="content")
                  // begin::Wrapper
                  .w-100
                    // begin::Heading
                    .pb-12.text-center
                      // begin::Title
                      h1.fw-bold.text-gray-900 Campaign Created!
                      // end::Title
                      // begin::Description
                      .fw-semibold.text-muted.fs-4 You will receive an email with with the summary of your newly created campaign!
                      // end::Description
                    // end::Heading
                    // begin::Actions
                    .d-flex.flex-center.pb-20
                      button.btn.btn-lg.btn-light.me-3(id="kt_modal_create_campaign_create_new", type="button", data-kt-element="complete-start") Create New Campaign
                      a.btn.btn-lg.btn-primary(data-bs-toggle="tooltip", title="Coming Soon") View Campaign
                    // end::Actions
                    // begin::Illustration
                    .text-center.px-4
                      img.mww-100.mh-350px(src="assets/media/illustrations/sketchy-1/9.png")
                    // end::Illustration
                // end::Step 5
                // begin::Actions
                .d-flex.flex-stack.pt-10
                  // begin::Wrapper
                  .me-2
                    button.btn.btn-lg.btn-light-primary.me-3(type="button", data-kt-stepper-action="previous", data-kt-stepper-state="hide-on-last-step")
                      i.ki-duotone.ki-arrow-left.fs-3.me-1
                        span.path1
                        span.path2
                      | Back
                  // end::Wrapper
                  // begin::Wrapper
                  div
                    button.btn.btn-lg.btn-primary(type="button", data-kt-stepper-action="submit")
                      span.indicator-label
                        | Submit
                        i.ki-duotone.ki-arrow-right.fs-3.ms-2.me-0
                          span.path1
                          span.path2
                      span.indicator-progress
                        | Please wait...
                        span.spinner-border.spinner-border-sm.align-middle.ms-2
                    button.btn.btn-lg.btn-primary(type="button", data-kt-stepper-action="next")
                      | Continue
                      i.ki-duotone.ki-arrow-right.fs-3.ms-1.me-0
                        span.path1
                        span.path2
                  // end::Wrapper
                // end::Actions
              // end::Form
            // end::Stepper
          // begin::Modal body
    // end::Modal - Create Campaign
    // begin::Modal - Invite Friends
    .modal.fade(id="kt_modal_invite_friends", tabindex="-1", aria-hidden="true")
      // begin::Modal dialog
      .modal-dialog.mw-650px
        // begin::Modal content
        .modal-content
          // begin::Modal header
          .modal-header.pb-0.border-0.justify-content-end
            // begin::Close
            .btn.btn-sm.btn-icon.btn-active-color-primary(data-bs-dismiss="modal")
              i.ki-duotone.ki-cross.fs-1
                span.path1
                span.path2
            // end::Close
          // begin::Modal header
          // begin::Modal body
          .modal-body.scroll-y.mx-5.mx-xl-18.pt-0.pb-15
            // begin::Heading
            .text-center.mb-13
              // begin::Title
              h1.mb-3 Invite a Friend
              // end::Title
              // begin::Description
              .text-muted.fw-semibold.fs-5
                | If you need more info, please check out
                a.link-primary.fw-bold(href="#") FAQ Page
                | .
              // end::Description
            // end::Heading
            // begin::Google Contacts Invite
            .btn.btn-light-primary.fw-bold.w-100.mb-8
              img.h-20px.me-3(alt="Logo", src="assets/media/svg/brand-logos/google-icon.svg")
              | Invite Gmail Contacts
            // end::Google Contacts Invite
            // begin::Separator
            .separator.d-flex.flex-center.mb-8
              span.text-uppercase.bg-body.fs-7.fw-semibold.text-muted.px-3 or
            // end::Separator
            // begin::Textarea
            textarea.form-control.form-control-solid.mb-8(rows="3", placeholder="Type or paste emails here")
            // end::Textarea
            // begin::Users
            .mb-10
              // begin::Heading
              .fs-6.fw-semibold.mb-2 Your Invitations
              // end::Heading
              // begin::List
              .mh-300px.scroll-y.me-n7.pe-7
                // begin::User
                .d-flex.flex-stack.py-4.border-bottom.border-gray-300.border-bottom-dashed
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      img(alt="Pic", src="assets/media/avatars/300-6.jpg")
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Emma Smith
                      .fw-semibold.text-muted smith@kpmg.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1") Guest
                      option(value="2", selected="selected") Owner
                      option(value="3") Can Edit
                  // end::Access menu
                // end::User
                // begin::User
                .d-flex.flex-stack.py-4.border-bottom.border-gray-300.border-bottom-dashed
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      span.symbol-label.bg-light-danger.text-danger.fw-semibold M
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Melody Macy
                      .fw-semibold.text-muted melody@altbox.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1", selected="selected") Guest
                      option(value="2") Owner
                      option(value="3") Can Edit
                  // end::Access menu
                // end::User
                // begin::User
                .d-flex.flex-stack.py-4.border-bottom.border-gray-300.border-bottom-dashed
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      img(alt="Pic", src="assets/media/avatars/300-1.jpg")
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Max Smith
                      .fw-semibold.text-muted max@kt.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1") Guest
                      option(value="2") Owner
                      option(value="3", selected="selected") Can Edit
                  // end::Access menu
                // end::User
                // begin::User
                .d-flex.flex-stack.py-4.border-bottom.border-gray-300.border-bottom-dashed
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      img(alt="Pic", src="assets/media/avatars/300-5.jpg")
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Sean Bean
                      .fw-semibold.text-muted sean@dellito.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1") Guest
                      option(value="2", selected="selected") Owner
                      option(value="3") Can Edit
                  // end::Access menu
                // end::User
                // begin::User
                .d-flex.flex-stack.py-4.border-bottom.border-gray-300.border-bottom-dashed
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      img(alt="Pic", src="assets/media/avatars/300-25.jpg")
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Brian Cox
                      .fw-semibold.text-muted brian@exchange.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1") Guest
                      option(value="2") Owner
                      option(value="3", selected="selected") Can Edit
                  // end::Access menu
                // end::User
                // begin::User
                .d-flex.flex-stack.py-4.border-bottom.border-gray-300.border-bottom-dashed
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      span.symbol-label.bg-light-warning.text-warning.fw-semibold C
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Mikaela Collins
                      .fw-semibold.text-muted mik@pex.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1") Guest
                      option(value="2", selected="selected") Owner
                      option(value="3") Can Edit
                  // end::Access menu
                // end::User
                // begin::User
                .d-flex.flex-stack.py-4.border-bottom.border-gray-300.border-bottom-dashed
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      img(alt="Pic", src="assets/media/avatars/300-9.jpg")
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Francis Mitcham
                      .fw-semibold.text-muted f.mit@kpmg.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1") Guest
                      option(value="2") Owner
                      option(value="3", selected="selected") Can Edit
                  // end::Access menu
                // end::User
                // begin::User
                .d-flex.flex-stack.py-4.border-bottom.border-gray-300.border-bottom-dashed
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      span.symbol-label.bg-light-danger.text-danger.fw-semibold O
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Olivia Wild
                      .fw-semibold.text-muted olivia@corpmail.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1") Guest
                      option(value="2", selected="selected") Owner
                      option(value="3") Can Edit
                  // end::Access menu
                // end::User
                // begin::User
                .d-flex.flex-stack.py-4.border-bottom.border-gray-300.border-bottom-dashed
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      span.symbol-label.bg-light-primary.text-primary.fw-semibold N
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Neil Owen
                      .fw-semibold.text-muted owen.neil@gmail.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1", selected="selected") Guest
                      option(value="2") Owner
                      option(value="3") Can Edit
                  // end::Access menu
                // end::User
                // begin::User
                .d-flex.flex-stack.py-4.border-bottom.border-gray-300.border-bottom-dashed
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      img(alt="Pic", src="assets/media/avatars/300-23.jpg")
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Dan Wilson
                      .fw-semibold.text-muted dam@consilting.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1") Guest
                      option(value="2") Owner
                      option(value="3", selected="selected") Can Edit
                  // end::Access menu
                // end::User
                // begin::User
                .d-flex.flex-stack.py-4.border-bottom.border-gray-300.border-bottom-dashed
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      span.symbol-label.bg-light-danger.text-danger.fw-semibold E
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Emma Bold
                      .fw-semibold.text-muted emma@intenso.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1") Guest
                      option(value="2", selected="selected") Owner
                      option(value="3") Can Edit
                  // end::Access menu
                // end::User
                // begin::User
                .d-flex.flex-stack.py-4.border-bottom.border-gray-300.border-bottom-dashed
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      img(alt="Pic", src="assets/media/avatars/300-12.jpg")
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Ana Crown
                      .fw-semibold.text-muted ana.cf@limtel.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1", selected="selected") Guest
                      option(value="2") Owner
                      option(value="3") Can Edit
                  // end::Access menu
                // end::User
                // begin::User
                .d-flex.flex-stack.py-4.border-bottom.border-gray-300.border-bottom-dashed
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      span.symbol-label.bg-light-info.text-info.fw-semibold A
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Robert Doe
                      .fw-semibold.text-muted robert@benko.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1") Guest
                      option(value="2") Owner
                      option(value="3", selected="selected") Can Edit
                  // end::Access menu
                // end::User
                // begin::User
                .d-flex.flex-stack.py-4.border-bottom.border-gray-300.border-bottom-dashed
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      img(alt="Pic", src="assets/media/avatars/300-13.jpg")
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") John Miller
                      .fw-semibold.text-muted miller@mapple.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1") Guest
                      option(value="2") Owner
                      option(value="3", selected="selected") Can Edit
                  // end::Access menu
                // end::User
                // begin::User
                .d-flex.flex-stack.py-4.border-bottom.border-gray-300.border-bottom-dashed
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      span.symbol-label.bg-light-success.text-success.fw-semibold L
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Lucy Kunic
                      .fw-semibold.text-muted lucy.m@fentech.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1") Guest
                      option(value="2", selected="selected") Owner
                      option(value="3") Can Edit
                  // end::Access menu
                // end::User
                // begin::User
                .d-flex.flex-stack.py-4.border-bottom.border-gray-300.border-bottom-dashed
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      img(alt="Pic", src="assets/media/avatars/300-21.jpg")
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Ethan Wilder
                      .fw-semibold.text-muted ethan@loop.com.au
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1", selected="selected") Guest
                      option(value="2") Owner
                      option(value="3") Can Edit
                  // end::Access menu
                // end::User
                // begin::User
                .d-flex.flex-stack.py-4
                  // begin::Details
                  .d-flex.align-items-center
                    // begin::Avatar
                    .symbol.symbol-35px.symbol-circle
                      img(alt="Pic", src="assets/media/avatars/300-9.jpg")
                    // end::Avatar
                    // begin::Details
                    .ms-5
                      a.fs-5.fw-bold.text-gray-900.text-hover-primary.mb-2(href="#") Francis Mitcham
                      .fw-semibold.text-muted f.mit@kpmg.com
                    // end::Details
                  // end::Details
                  // begin::Access menu
                  .ms-2.w-100px
                    select.form-select.form-select-solid.form-select-sm(data-control="select2", data-dropdown-parent="#kt_modal_invite_friends", data-hide-search="true")
                      option(value="1") Guest
                      option(value="2") Owner
                      option(value="3", selected="selected") Can Edit
                  // end::Access menu
                // end::User
              // end::List
            // end::Users
            // begin::Notice
            .d-flex.flex-stack
              // begin::Label
              .me-5.fw-semibold
                label.fs-6 Adding Users by Team Members
                .fs-7.text-muted If you need more info, please check budget planning
              // end::Label
              // begin::Switch
              label.form-check.form-switch.form-check-custom.form-check-solid
                input.form-check-input(type="checkbox", value="1", checked="checked")
                span.form-check-label.fw-semibold.text-muted Allowed
              // end::Switch
            // end::Notice
          // end::Modal body
        // end::Modal content
      // end::Modal dialog
    // end::Modal - Invite Friend
    // end::Modals
    // begin::Javascript
    script.
      var hostUrl = "assets/";
    // begin::Global Javascript Bundle(mandatory for all pages)
    script(src="assets/plugins/global/plugins.bundle.js")
    script(src="assets/js/scripts.bundle.js")
    // end::Global Javascript Bundle
    // begin::Vendors Javascript(used for this page only)
    script(src="assets/plugins/custom/datatables/datatables.bundle.js")
    // end::Vendors Javascript
    // begin::Custom Javascript(used for this page only)
    script(src="assets/js/custom/apps/projects/list/list.js")
    script(src="assets/js/widgets.bundle.js")
    script(src="assets/js/custom/apps/chat/chat.js")
    script(src="assets/js/custom/utilities/modals/upgrade-plan.js")
    script(src="assets/js/custom/utilities/modals/create-campaign.js")
    script(src="assets/js/custom/utilities/modals/users-search.js")
    script(src="assets/js/custom/authentication/sign-out/general.js")
    // end::Custom Javascript
    // begin::Custom Javascript(used for this page only)
    script(src="assets/js/custom/utilities/modals/new-target.js")
    // end::Custom Javascript
    // end::Javascript
