extends ../layouts/auth 

block content
  .d-flex.flex-center.flex-column.flex-lg-row-fluid
    // begin::Wrapper
    .w-lg-500px.p-10
      // begin::Form
      form.form.w-100(novalidate="novalidate", id="kt_new_password_form", data-kt-redirect-url="authentication/layouts/corporate/sign-in.html", action="#")
        // begin::Heading
        .text-center.mb-10
          // begin::Title
          h1.text-gray-900.fw-bolder.mb-3 Setup New Password
          // end::Title
          // begin::Link
          .text-gray-500.fw-semibold.fs-6
            | Have you already reset the password ?
            a.link-primary.fw-bold(href="authentication/layouts/corporate/sign-in.html") Sign in
          // end::Link
        // begin::Heading
        // begin::Input group
        .fv-row.mb-8(data-kt-password-meter="true")
          // begin::Wrapper
          .mb-1
            // begin::Input wrapper
            .position-relative.mb-3
              input.form-control.bg-transparent(type="password", placeholder="Password", name="password", autocomplete="off")
              span.btn.btn-sm.btn-icon.position-absolute.translate-middle.top-50.end-0.me-n2(data-kt-password-meter-control="visibility")
                i.ki-duotone.ki-eye-slash.fs-2
                i.ki-duotone.ki-eye.fs-2.d-none
            // end::Input wrapper
            // begin::Meter
            .d-flex.align-items-center.mb-3(data-kt-password-meter-control="highlight")
              .flex-grow-1.bg-secondary.bg-active-success.rounded.h-5px.me-2
              .flex-grow-1.bg-secondary.bg-active-success.rounded.h-5px.me-2
              .flex-grow-1.bg-secondary.bg-active-success.rounded.h-5px.me-2
              .flex-grow-1.bg-secondary.bg-active-success.rounded.h-5px
            // end::Meter
          // end::Wrapper
          // begin::Hint
          .text-muted Use 8 or more characters with a mix of letters, numbers &amp; symbols.
          // end::Hint
        // end::Input group=
        // end::Input group=
        .fv-row.mb-8
          // begin::Repeat Password
          input.form-control.bg-transparent(type="password", placeholder="Confirm Password", name="confirm-password", autocomplete="off")
          // end::Repeat Password
        // end::Input group=
        // begin::Input group=
        .fv-row.mb-8
          label.form-check.form-check-inline
            input.form-check-input(type="checkbox", name="toc", value="1")
            span.form-check-label.fw-semibold.text-gray-700.fs-6.ms-1
              | I Agree &amp;
              a.ms-1.link-primary(href="#") Terms and conditions
              | .
        // end::Input group=
        // begin::Action
        .d-grid.mb-10
          button.btn.btn-primary(type="button", id="kt_new_password_submit")
            // begin::Indicator label
            span.indicator-label Submit
            // end::Indicator label
            // begin::Indicator progress
            span.indicator-progress
              | Please wait...
              span.spinner-border.spinner-border-sm.align-middle.ms-2
            // end::Indicator progress
        // end::Action
      // end::Form
    // end::Wrapper