extends ../layouts/auth 

block content 
 .d-flex.flex-center.flex-column.flex-lg-row-fluid
  // begin::Wrapper
  .w-lg-500px.p-10
    // begin::Form
    form.form.w-100(novalidate="novalidate", id="kt_password_reset_form", data-kt-redirect-url="new-password", action="/api/v1/users/forgotPassword")
      // begin::Heading
      .text-center.mb-10
        // begin::Title
        h1.text-gray-900.fw-bolder.mb-3 Forgot Password ?
        // end::Title
        // begin::Link
        .text-gray-500.fw-semibold.fs-6 Enter your email to reset your password.
        // end::Link
      // begin::Heading
      // begin::Input group=
      .fv-row.mb-8
        // begin::Email
        input.form-control.bg-transparent(type="text", placeholder="Email", name="email", id="email", autocomplete="off")
        // end::Email
      // begin::Actions
      .d-flex.flex-wrap.justify-content-center.pb-lg-0
        button.btn.btn-primary.me-4(type="button", id="kt_password_reset_submit")
          // begin::Indicator label
          span.indicator-label Submit
          // end::Indicator label
          // begin::Indicator progress
          span.indicator-progress
            | Please wait...
            span.spinner-border.spinner-border-sm.align-middle.ms-2
          // end::Indicator progress
        a.btn.btn-light(href="authentication/layouts/corporate/sign-in.html") Cancel
      // end::Actions
    // end::Form
  // end::Wrapper